<% include('../layouts/header.ejs') %>

<h1>Forget Password</h1>

<% if(typeof message !== 'undefined'){ %>

<p style="color: green;"><%= message %></p>
<% } %>


<form action="" method="POST">
    <input type="password" name="password" placeholder="Enter Password" required>
    <br><br>
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <input type="submit" value="Reset password">
    <br><br>
</form>

<% include('../layouts/footer.ejs') %>